**.bak
**/*.log

mode.json
options.txt
reauth.toml
/servers.dat
knownkeys.txt
/panorama.dat
usercache.json
BotaniaVars.dat
/servers.dat_old
usernamecache.json
patchouli_data.json
realms_persistence.json


# Instance Sync
**/*.jar
!InstanceSync*.jar
**/*.jar.disabled
**/*.jar.meta

**/.vs
/woot
/mods
/logs
/cache
/saves
/local
/server
/.mixin.out
/journeymap
/screenshots
/shaderpacks
/config/spark
/resourcepacks
/crash-reports
/kubejs/exported
/packmenuff/resources

!config/defaultoptions/options.txt

config/InvTweaks.cfg
config/jei-client.toml
config/MouseTweaks.cfg
config/jei/bookmarks.ini
config/create-client.toml
config/rare-ice.properties
config/eidolon-client.toml
config/thermal-client.toml
config/emojiful-client.toml
config/mcjtylib-client.toml
config/jei/worldSettings.cfg
config/jei/lookupHistory.zip
config/cagedmobs-client.toml
config/artifacts-client.toml
config/occultism-client.toml
config/mythicbotany-client.toml
config/rftoolspower-client.toml
config/mininggadgets-client.toml
config/ambientsounds-client.json
config/astralsorcery-client.toml
config/computercraft-client.toml
config/chiselsandbits-client.toml
config/craftingtweaks-client.toml
config/pneumaticcraft-client.toml
config/refinedstorage-client.toml
config/rftoolsutility-client.toml
config/rftoolsstorage-client.toml
config/rftoolscontrol-client.toml
config/rftoolsbuilder-client.toml
config/farmersdelight-client.toml
config/abnormals_core-client.toml
config/supplementaries-client.toml
config/upgrade_aquatic-client.toml
config/betteradvancements-client.toml
config/extremesoundmuffler-client.toml
config/betterendforge/client-config.toml
config/sophisticatedbackpacks-client.toml
config/pneumaticcraft/ArmorFeatureStatus.cfg
config/pneumaticcraft/PneumaticArmorHUDLayout.cfg
/backups
/TrashSlotSaveState.json
/data
/dumps
server/*.zip
!server/server-setup-config.yaml
optionsof.txt
optionsshaders.txt
