**.bak
**/*.log

mode.json
options.txt
reauth.toml
/servers.dat
knownkeys.txt
/panorama.dat
usercache.json
BotaniaVars.dat
/servers.dat_old
usernamecache.json
patchouli_data.json
realms_persistence.json


# Instance Sync
**/*.jar
!InstanceSync*.jar
**/*.jar.disabled
**/*.jar.meta

**/.vs
/.vscode
/woot
/mods
/logs
/cache
/saves
/local
/server
/.mixin.out
/journeymap
/screenshots
/shaderpacks
/config/spark
/resourcepacks
/crash-reports
/kubejs/exported
/packmenuff/resources
/config/agricraft/json
!config/agricraft/json/defaults
!config/defaultoptions/options.txt


/backups
/TrashSlotSaveState.json
/data
/dumps
server/*.zip
!server/server-setup-config.yaml
optionsof.txt
optionsshaders.txt
/natives/
/.curseclient
/kubejs/assets/starpack/textures/quests/
/.idea/
/config.bak.json
/config/jei/recipe-category-sort-order.ini
/ESM/Minecraft Server/anchors.dat
/ESM/soundsMuffled.dat
/config/jei/bookmarks.ini
/config/jei/ingredient-list-mod-sort-order.ini
/config/jei/ingredient-list-type-sort-order.ini
/config.json
