**.bak

mode.json
options.txt
reauth.toml
/servers.dat
knownkeys.txt
/panorama.dat
usercache.json
BotaniaVars.dat
/servers.dat_old
usernamecache.json
patchouli_data.json
realms_persistence.json


# Instance Sync
**/*.jar
!InstanceSync*.jar
**/*.jar.disabled
**/*.jar.meta

/.vs
/woot
/mods
/logs
/cache
/saves
/local
/.mixin.out
/journeymap
/screenshots
/config/spark
/resourcepacks
/crash-reports
/kubejs/exported
/packmenuff/resources

!config/defaultoptions/options.txt

config/InvTweaks.cfg
config/jei-client.toml
config/MouseTweaks.cfg
config/jei/bookmarks.ini
config/create-client.toml
config/rare-ice.properties
config/eidolon-client.toml
config/thermal-client.toml
config/emojiful-client.toml
config/mcjtylib-client.toml
config/jei/worldSettings.cfg
config/jei/lookupHistory.zip
config/cagedmobs-client.toml
config/artifacts-client.toml
config/occultism-client.toml
config/mythicbotany-client.toml
config/rftoolspower-client.toml
config/mininggadgets-client.toml
config/ambientsounds-client.json
config/astralsorcery-client.toml
config/computercraft-client.toml
config/chiselsandbits-client.toml
config/craftingtweaks-client.toml
config/pneumaticcraft-client.toml
config/refinedstorage-client.toml
config/rftoolsutility-client.toml
config/rftoolsstorage-client.toml
config/rftoolscontrol-client.toml
config/rftoolsbuilder-client.toml
config/farmersdelight-client.toml
config/abnormals_core-client.toml
config/supplementaries-client.toml
config/upgrade_aquatic-client.toml
config/betteradvancements-client.toml
config/extremesoundmuffler-client.toml
config/betterendforge/client-config.toml
config/sophisticatedbackpacks-client.toml
config/pneumaticcraft/ArmorFeatureStatus.cfg
config/pneumaticcraft/PneumaticArmorHUDLayout.cfg
/backups
/TrashSlotSaveState.json
/data
dumps/dump-1615867416617.txt
dumps/dump-1615889404158.txt
dumps/dump-1615890925253.txt
dumps/dump-1615891888044.txt
dumps/dump-1615892184664.txt
dumps/dump-1615893008889.txt
dumps/dump-1615893872867.txt
dumps/dump-1615895120209.txt
dumps/dump-1615895696651.txt
dumps/dump-1615922199312.txt
dumps/dump-1615942655925.txt
dumps/dump-1616029333846.txt
dumps/dump-1616181071352.txt
dumps/dump-1616191584122.txt
dumps/dump-1616192283938.txt
dumps/dump-1616192985336.txt
dumps/dump-1616194996816.txt
dumps/dump-1616198146125.txt
dumps/dump-1616198615210.txt
dumps/dump-1616200326812.txt
dumps/dump-1616201622604.txt
dumps/dump-1616206736068.txt
dumps/dump-1616283093194.txt
dumps/dump-1616283852958.txt
dumps/dump-1616420174372.txt
dumps/dump-1616421903614.txt
server/*.zip
